.devise__content {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.devise__title {
  margin-bottom: 20px;
}

.devise__field {
  margin-bottom: 10px;
  input{
    width: 100%;
  }
}

.devise__submit {
  text-align: center;
  margin: 50px 0 20px 0;
}

.devise__link {
  text-align: center;
}