.footer
  .footer__container
    %ul.footer__links
      %li
        = link_to "#" ,class:"footer__link" do
          辻
      %li
        = link_to "#" ,class:"footer__link" do
          佑太
      %li
        = link_to "#" ,class:"footer__link" do
          23歳
    .footer__logo 
      = link_to root_path ,class:"footer__logo__text" do  
        GOAL 
      .footer__logo__copy
        ©️tsuji1201
          